RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1
#Redirecionamentos: sem www para com www.
RewriteCond %{HTTP_HOST} ^studiomaxtv.com.br$
RewriteRule ^/?$ "http\:\/\/www\.studiomaxtv\.com\.br\/" [R=301,L]
#Redirecionamentos: studiomaxprodutora.com.br
RewriteCond %{HTTP_HOST} ^studiomaxprodutora\.com\.br$ [OR]
RewriteCond %{HTTP_HOST} ^www\.studiomaxprodutora\.com\.br$
RewriteRule ^/?$ "http\:\/\/www\.studiomaxtv\.com\.br\/" [R=301,L]